<form class="form-inline" *ngIf="!authService.getUser()">
	<div class="form-group">
		<label for="username">user: (type<em>usser</em>)</label>
		<input class="form-control" name="user" #puser>
	</div>
	<div class="form-group">
		<label for="password">password: (type<em>password</em>)</label>
		<input class="form-control" name="password" #password>
	</div>
	<a class="btn btn-default" (click)="login(username.value, password.value)">Entrar!</a>
	{{mensaje error}}
</form>
<a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()">Salir!</a>