<p>vuelos-component works!</p>
<div class="navlinks">
    <a [roueterLink]="['./main']">Main</a>
    <a [roueterLink]="['./mas-info']">Mas info</a>
    <a [roueterLink]="['./', 5]">Vuelo 5</a>
</div>

<router-outlet></router-outlet>
